body {
    margin: 0;
    padding-left: 0;
    overflow: hidden;
}

nav {
    position: fixed;
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: center;
}

#paintbar {
    /* top: 10vh; */
    margin-right: auto;
    width: 5vw;
    height: 50vh;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    margin-left: 0.5vh 1vw;
}

.controlButton {
    height: 5em;
    width: 5em;
    margin: 0.5vh 1vw;
}

.paintButton {
    width: 5em;
    margin: 0.5vh 1vw;
}

#patternInput {
    width: 80%;
}

.active {
    background-color: lime;
}

#slider {
    margin-left: auto;
}

#selectionInput {
    position: fixed;
    top: 500px;
    visibility: hidden;
}

@media screen and (orientation: portrait){
    .controlButton{
        width: 20vw;
        height: 20vw; 
        font-size: 30pt;
    }
}