body {
    margin: 0;
    padding-left: 0;
    overflow: hidden;
}

nav {
    position: fixed;
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: center;
}

#paintbar {
    top: 10vh;
    margin-left: 1.5em;
    width: 5vw;
    height: 50vh;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
}

.controlButton {
    height: 5em;
    width: 5em;
    margin: 0.5vh 1vw;
}

.paintButton {
    width: 5em;
    margin: 0.5vh 1vw;
}

.active {
    background-color: lime;
}

#slider {
    margin-left: auto;
}

#selectionInput {
    position: fixed;
    top: 500px;
    visibility: hidden;
}