body {
    margin: 0;
    padding-left: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

#defaultCanvas0 {
    height: 300px;
    width: 500px;
    /*overflow: auto;*/
}

nav {
    position: fixed;
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: center;
}

.controlButton {
    height: 5em;
    width: 5em;
    margin: 0.5vh 1vw;
}